/* All the pretty colors */
.heart {
    color:red;
  }
  
  
  /* Just centering things */
  html, body {
    height: 100%;
  }
  
  body {
    height: 100%;
    margin: 0;
    text-align: center;
    display: flex;
    justify-content: center;
  }
  
  svg {
    width: 50%;
  }